.main-book{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    height: 6vh;
}
.main-card {
    width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
}
.image {
    background-color: rgb(209 209 209 / 20%);
}
.image-size{
    width: 100px;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 56px;
    margin-right: 50px;
    height: 20vh;
   
}
.padding-all{
    padding: 5px 15px 15px 15px;
}
.text-displaycard{
    font-family: sans-serif;    
}
.price-displaycard{
    margin-top: 3px;
    font-size: small;
}
.auther-displaycard{
    font-size: small;
    margin-top: 2px;
    font-family: sans-serif;  
}
.title-displaycard{
    font-size: medium;
    font-family: sans-serif;  
}
.button {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.color-button {
    background-color: #8d0c19;
    color: #fff;
    
}
.color-wishbtn {
    background-color:  #fff;
    color: black;
}
.btn-size{
    font-size: x-small;
}
.fullW {
    width: 100%;
}
h6{
    font-size: small;
}
.next {
    background-color: #d0dcd1;
    color: white;
  }
  
  .dropbtn {
    background-color: #f8f8f8e5;
    color: #121312;
    font-size: 16px;
    border: none;
    width: 160px ;
    height: 5vh;
    border-color: darkslategrey;
    border: 1px solid #d6d7da;
  }
  .rele{
      font-size: 14px;
      padding: 5px 10px 5px 10px;
  }
  .dropdown {
    position: relative;
    display: inline-block;
    min-width: 160px;
    height: 10vh;
    margin-right: 30px;
  }
  @media screen and (max-width: 600px) {
    .dropdown{
        margin-right: 0px;
    }
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffff;
    min-width: 160px;
    z-index: 1;
    border-color: darkslategrey;
    border: 1px solid #d6d7da;
    
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #fff;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #fff;}

  .main-dropdown{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 20px;
    height: 5vh;
  }
  .option{
      height: 5vh;
  }
  .arrow{
      color: gray;
      width: 10px;
      margin-left: 5px;
  }